.subscribe-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70.3%;
    height: 240px;
    gap: 32px;
    margin-top: 66px;
    align-items: center;
    justify-content: center;
   
}


.subscribe-section h3{

font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: normal;
}


.subscribe-section h5{

    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub-text{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}



input{
    
    background: white;
    width:50%;
    height: 19px;
    padding: 24px 32px 24px 32px;
    
}

.submit{
   
    width: 141px;
    height: 39px;
    padding: 10px 40px;
    border: 2px solid black;
    gap: 10px;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

@media all and (max-width:920px) {

    .subscribe-section{
   
        margin-top: 50px;
    }

    input{
    
        background: white;
        
        padding: 20px 28px 20px 28px;
        
    }

    
    }


    @media all and (max-width:620px) {

    
        input{
        
            background: white;
            
            padding: 16px 24px 16px 24px;
            
        }
    
        
        }